<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GOSSIP PROJECT</title>
  </head>
   
<body>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">DERNIERS GOSSIP </h1>
    <p class="lead">Regardez ce qui se dit sur vous...</p>
    <a class="btn btn-warning" href="/gossips/new/" role="button">LACHE TON GOSSIP</a>
  </div>
</div>


<div class="row">
  <% @all_gossips.each do |gossip| %>
  <div class="col-sm-6" style="padding: 30px">
      <div class="card">
        <div class="card-header">
          <b><%= gossip.title %></b><br/>
          </div>
          <div class="card-body">
            <h5 class="card-title">A été écrit par <b><%= gossip.user.first_name %> <%= gossip.user.last_name %></b><br/>
            <%= link_to "Voir le potin", gossip_path(:id => gossip.id), class:"btn btn-primary btn-sm", role:"button" %>
            <% if logged_in? == true %>
            <% if gossip.likes.where(user_id: current_user.id).count > 0 %>
              <%= link_to "unlike", like_path(:id=> gossip.likes.sample), class:"btn btn-danger btn-sm", role:"button", data: {:method => "delete"} %>
            <% else %>
      <%= link_to "like", likes_path(:gossip_id=> gossip.id), class:"btn btn-info btn-sm", role:"button", data: {:method => "create"} %>
      <% end %>
    <% end %>
    
       
    </p>
          </div>
      </div>
    </div>
  <% end %>
</div>

  </body>
</html>
