<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  </head>
  <body>
<div class="row justify-content-md-center">
<div class="container">
    <h1>Auteur: <b><%= @author.first_name %></b> ?</h1>

      <p>Last name : <%= @author.last_name %> </p>
      <p>Description : <%= @author.description %> </p>
      <p>Email : <%= @author.email %> </p>
      <p>Age : <%= @author.age %> ans</p>
      <p>Ville : <%= @author.city.name %> </p>

      <p>
        <%= link_to "Voir la ville", city_path(:id => @author.city.id), class:"btn btn-primary btn-sm", role:"button" %>
      </p>
      </div>
</div>
  </body>
</html>
