<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GOSSIPPPP</title>
  </head>
  <body>

  
    <div class="row justify-content-md-center">
    <div class="container">

    <h1> ICI C'EST  <b><%= @city.name %></b> !!!</h1>

    <p>What's new in town??:</p>

    <% @city.gossips.each do |gossip| %>
      <p>
      <b><%= gossip.title %></b><br/>
       écrit par <b><%= gossip.user.first_name %> <%= gossip.user.last_name %></b><br/>
      </p>

      <p>
        <%= link_to "Voir le potin", gossip_path(:id => gossip.id), class:"btn btn-primary btn-sm", role:"button" %>
        <%= link_to "Voir l'auteur", user_path(:id => gossip.user.id), class:"btn btn-primary btn-sm", role:"button" %>
          <% if gossip.likes.where(user_id: current_user.id).count > 0 %>
          <%= link_to "Unlike", like_path(:id=> gossip.likes.sample), class:"btn btn-danger btn-sm", role:"button", data: {:method => "delete"} %>
          <% else %>
          <%= link_to "Like", likes_path(:gossip_id=> gossip.id), class:"btn btn-info btn-sm", role:"button", data: {:method => "create"} %>
        <% end %>
        <span style="font-size:14px;">Likes :<%= gossip.likes.count %></span>
      </p>

    <% end %>
</div>
  </body>
</html>